<head>
  <meta charset="UTF-8" />
  <title>Customer Cart App</title>
  <link rel="stylesheet" href="home.component.css" />
  <!-- Link to your external CSS file -->
</head>

<body>
  <div class="container">
    <header>
      <h1>Welcome to Customer Cart</h1>
    </header>
    <main>
      <p>
        This is a simple customer order app. To explore customers and see what
        orders are made.
      </p>
      <!-- Additional content or links can be added here -->
      <button>Not Working! PC will explode don't touch</button>
    </main>
    <footer>
      <p>&copy; 2023 Customer Cart App</p>
    </footer>
  </div>
</body>
