<div class="container">
  <h1>Update Orders</h1>
  <div class="update-orders">
    <h1>{{ title }}</h1>
    <p *ngIf="!order"><em>Loading…</em></p>
    <p *ngIf="!order"><em>Loading…</em></p>
    <select
      [(ngModel)]="selectedOrderId"
      (change)="onOrderIdSelected()"
      class="custom-dropdown"
    >
      <option *ngFor="let orderId of orderIds" [value]="orderId">
        {{ orderId }}
      </option>
    </select>
    <!-- Select ID-->
    <div [formGroup]="form">
      <!-- Product -->
      <mat-form-field>
        <mat-label>Product:</mat-label>
        <input
          matInput
          formControlName="product"
          required
          placeholder="Type a product"
        />
      </mat-form-field>
      <!-- OrderDate -->
      <mat-form-field>
        <mat-label>Order Date:</mat-label>
        <input
          matInput
          formControlName="orderDate"
          required
          placeholder="Insert order date"
        />
      </mat-form-field>
      <!-- TotalAmount -->
      <mat-form-field>
        <mat-label>Total Amount:</mat-label>
        <input
          matInput
          formControlName="totalAmount"
          required
          placeholder="Insert total amount"
        />
      </mat-form-field>
      <div>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          (click)="onSubmit()"
        >
          Save
        </button>
        <button
          mat-flat-button
          color="secondary"
          [routerLink]="['/view-orders']"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
